@model IEnumerable<GetIt.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

</p>
@foreach (var item in Model)
{
    <div class="row">
        <br />
        <br />
        <div class="col-sm-1">
            @(item.Upvote - item.Downvote) <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </div>
        <div class="col-sm-1">
            <img class="img-circle" src="https://unsplash.it/80/80?image=1062">
        </div>
        <div class="col-md-8">
            @Html.ActionLink($"{item.Title}", $"Details/{item.Id}")
            <p>submitted @Html.DisplayFor(modelItem => item.PostDate), by @Html.DisplayFor(modelItem => item.Author)</p>
        </div>
    </div>
}
