@model IEnumerable<GetIt.Models.PostIndexVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

</p>
@foreach (var item in Model)
{
    <div class="row">
        <br />
        <br />
        <div class="col-sm-1">
            <div data-postid="@item.PostId">
                <span class="votes">@item.Votes</span>
                <div class="up">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </div>
                <div class="down">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <img class="img-circle img-responsive" src="https://unsplash.it/80/80?image=1062">
        </div>
        <div class="col-sm-8">
            @Html.ActionLink(item.Title, "Details", new { id = item.PostId })
            <p>submitted @item.PrettyDate, by @item.AuthorName</p>
            @Html.ActionLink(item.CommentCount + " comments", "Details", new { id = item.PostId })

        </div>
    </div>
}

@section scripts{

    <script>
        $(function () {


            $(".up, .down").click(function () {
                var div = $(this);

                var isUp = div.hasClass('up');

                var postid = div.parent().data("postid");

                $.ajax({
                    method: "POST",
                    url: "/posts/votes",
                    data: { id: postid, up: isUp }
                }).done(function (res) {
                    div.siblings('.votes').html(res);
                });

            });

        });

    </script>

}
